html{
    font-family: Inter;
    font-style: normal;
}

.container{
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 1px 4px gray;
    border-radius: 10px;
}

.search-bar{
    border-radius: 5px;
    justify-items: center;
    margin: 50px;
   
}

input{
    border-radius: 10px;
    border:none;
    height: 30px;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.line{
    width: 100%;
    border: 1px solid rgb(130, 26, 26);
    animation-name: extend;
    animation-duration: 2s;
}

.box-full{
    margin: 20px;
    text-align: left;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: rgba(0, 0, 2, 0.834);
    backdrop-filter: blur(5px);
    
}

button{
    padding: 8px;
    font-weight: bold;
    background-color: #f3f3f7;
    border: 1px solid #959292;
    color: #190d67;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    display: flex;
    gap: 5px;

}
.btn{
    padding: 8px;
    font-weight: bold;
    background-color: #190d67;
    border: 1px solid #959292;
    color: azure;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    display: flex;
    gap: 5px;
}
svg{
    color: rgb(81, 8, 238) ;
}


.vertical-box{
    display: grid;

}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 20px;
    gap: 10px;
    align-items: center;
}
p{
    color:#cac5c5;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    background-color: burlywood;
    background-size: cover;
    padding: 10px;
}

.nav>p{
    cursor: pointer;
}


.banner{
    width: 100%;
    margin-bottom: 100px;
    height: 20%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: aquamarine;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    animation-name: extend-height;
    animation-duration: 2s;
}

table{
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
}

td, th{
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 10px;
}


tr:hover{
    background-color: #f0efef;
    cursor: pointer;
}


.badge{
    border-radius: 100px;
    background-color: yellow;
    color: white;
    font-weight: bold;
    font-size: small;
    text-align: center;
    margin-bottom: -200px;
 

}

/* Animations */
@keyframes extend {
        from{width: 0%;}
        to{width: 100%;}
}

@keyframes extend-height {
        from{height: 0%;}
        to{height: 20%;}
}



a:hover{
    text-decoration: underline;
}

button:hover{
    background-color: rgb(241, 238, 247);
    opacity: 0.6;
}
.btn:hover{
    background-color: rgb(25, 6, 117);
    opacity: 0.6;
}





/* background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); */
/* STYLING FOR THE GROUPS */
.sidebar{
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}


.grid-group{
    display: grid;
    gap: 20px;
}

.chat-box{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
    border-radius: 4px;
    border: 1px solid #e0e0e0; 
}
